.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header {
  background: green;
  padding: 1em;
}

.sub-header {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  color: white;
}
.header p {
  color: white;
  margin: 0;
}


ul.box-list, ul.box-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.box-list {
  padding: 0.5em;
}

ul.box-list li{
  margin-bottom: 0.5em;
  padding: 0.5em;
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
}
.box-list section {
  /* display: flex; */

}
